# Actors and Directors Who Cooperated At Least Three Times

Write a solution to find all the pairs (actor_id, director_id) where the actor has cooperated with the director at least three times.

Return the result table in any order.

The result format is in the following example.

In [19]:
# data creation
import pandas as pd
import copy

# Define the data
data = {
    "actor_id":    [1, 1, 1, 1, 1, 2, 2],
    "director_id": [1, 1, 1, 2, 2, 1, 1],
    "timestamp":   [0, 1, 2, 3, 4, 5, 6]
}

df = pd.DataFrame(data)
display(df)

   actor_id  director_id  timestamp
0         1            1          0
1         1            1          1
2         1            1          2
3         1            2          3
4         1            2          4
5         2            1          5
6         2            1          6

In [24]:
def actors_and_directors(actor_director: pd.DataFrame) -> pd.DataFrame:
    df = copy.deepcopy(actor_director)

    df_count = df.groupby(by=["actor_id","director_id"]).count()
    df_count = df_count.reset_index()

    df_count.rename(columns={'timestamp': 'count'}, inplace=True)
    # create and return  a mask to identify folks who cooperated >= 3x

    return df_count[df_count['count'] >= 3].loc[:,['actor_id', 'director_id']]

In [25]:
actors_and_directors(df)

   actor_id  director_id
0         1            1