In [71]:
import pandas as pd

# Define the data
data = {
    "id": [1, 2, 3],
    "email": ["john@example.com", "bob@example.com", "john@example.com"]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
display(df)

   id             email
0   1  john@example.com
1   2   bob@example.com
2   3  john@example.com

In [75]:
# TEST CASE #2
import pandas as pd

# Define the data
data = {
    "id": [2, 1],
    "email": ["abc@efg.com", "abc@efg.com"]
}

# Create the DataFrame
df = pd.DataFrame(data)

# Display the DataFrame
print(df)

   id        email
0   2  abc@efg.com
1   1  abc@efg.com

In [77]:
# identify the duplicates by creating a boolean mask
df_dup = df.duplicated(subset=["email"])
# conditional selection - create a boolean mask based on the condition
# return // identify the min value for each id after grouping by email
# research + review transform vs apply function here
df_group = df.groupby(by=["email"])['id'].transform('min') == df['id']

In [69]:
df_group

0     True
1     True
2    False
Name: id, dtype: bool

In [70]:
df_dup

0    False
1    False
2     True
dtype: bool

Additionally, the dataframe needs to be modified in place.

This can be accomplished by using the .mask() method.

In [78]:
df[(df_dup == False) & (df_group == True) ]

Empty DataFrame
Columns: [id, email]
Index: []

In [66]:
# we need to combine and filter
# we want to identify emails that are not duplicated and that have the min id
uniqueMask = (df_dup == True) & (df_group == True) 
df.mask(~uniqueMask, inplace=True)

In [67]:
df.dropna(inplace=True)
df

Empty DataFrame
Columns: [id, email]
Index: []